<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h2><%=showData.id %></h2>
  <h2><%=showData.name %></h2>
  <h2><%=showData.lastName %></h2>

</body>
</html>